manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: m165437 #new entry
      url-base: https://github.com/M165437 #new entry
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3
      import: app/west.yml
    - name: nice-view-gem #new entry
      remote: m165437 #new entry
      revision: v0.3.0 #main #new entry
    - name: zmk-fingerpunch-keyboards
      url: https://github.com/sadekbaroudi/zmk-fingerpunch-keyboards
      revision: main
    - name: vik
      url: https://github.com/sadekbaroudi/vik
      revision: main
  self:
    path: config
